<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Keeping</title>
  </head>
  <body>
    <h1>Record Keeping</h1>

    <form action="">
      <p>
        <label for="item">Name of the item</label>
        <input type="text" id="item" />
      </p>
      <p>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" />
      </p>
      <p>
        <label for="price">Price</label>
        <input type="number" id="price" />
      </p>
      <p>
        <label for="moreInfo">Additional Information</label>
        <input type="text" id="moreInfo" />
      </p>
      <button>Save</button>
    </form>

    <h2>Date:</h2>

    <h3>Items</h3>

    <ol>
      <div>
      <li>Item : Pant </li>
      <p>Quantity : 1 </p>
      <p>Price : 1200 </p>
      <p>Additional Information: - </p>
      </div>
    </ol>
  </body>
</html>
